
img {
    width: 100px;
    height: auto;
}
ul {
    display: flex;
    line-height: 50px;
    background-color: #000;
    width: 3000px;
    margin: 0;
    margin-bottom: 16px;
}
li {
    display: inline-block;
}
ul > li > a {
    margin-right: 100px;
    color: #fff;
    margin-left: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover {
    color: #ccc;
    text-decoration: none;
}
li:hover {
    background-color: aqua;
}
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: px auto;
    grid-gap: 10px;
} 
.menu {
    
}
li {
    text-align: center;
}
* {
    margin: 0;
}